

/*Header图片*/

.header_bg{ background:url(../images/cz-banner-bg.jpg) no-repeat center; -webkit-background-size: cover; min-width:1280px; height:660px; margin-left:auto; margin-right:auto;}

.header_text { width:1280px; height:660px; margin-left:auto; margin-right:auto;}
.header_text .text{ width:500px; height:300px; padding-top:150px; padding-left:40px;}
.header_text .text .t_title { font-size:40px; font-size-adjust:30px; margin-bottom:10px;}
.header_text .text .t_content { font-size:12px; margin-bottom:20px; line-height:20px;}

.redcolor { color: red; margin-left:5px; margin-right:5px; line-height:30px;}
.blackcolor { color: #666; text-decoration:line-through; margin-right:20px; margin-left:5px;}

.content { min-width:1280px;; height:1600px; margin-left: auto; margin-right: auto; padding-top:40px;}
.con_title { width:1140px; margin-left:auto; margin-right:auto;}

.con_kc { width:1140px; height: 280px; margin-left:auto; margin-right:auto; position:relative; border:1px solid #999; margin-top:20px; }
.con_kc_bg { float: left; width:675px; height:280px;}
.con_kc_con { float:left; margin-left:35px; height: 280px;}
.con_kc_con .title{ font-size:25px; margin-top:40px; margin-bottom:10px;}
.con_kc_con p{ font-size:14px;}
.con_kc_con .btn{ margin-top:60px; margin-left:140px; width:140px; height:40px; float:left; position:absolute;}

